<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GlobalConnection"
			 connectionString="Data Source=SAADAOUI\SQLEXPRESS;Initial Catalog=tempdb;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>