<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GlobalConnection"
			 connectionString="Data Source=SERVERNAME;Initial Catalog=GestionStock;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>

<!-- Remplacez SERVERNAME par le nom de votre serveur SQL (ex: .\SQLEXPRESS).-->